@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility !important;
  scroll-behavior: smooth;
}

:root {
  --main-color: #ff8243;
  --shadow-1: #e2e2e2;
  --shadow-2: #ffffff;
  --shadow-3: #dadada;
  --background: linear-gradient(145deg, #dcdcdc, #ffffff);
}

body {
  background-image: url("../../assets/images/menu-bg.png");
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Headings */
h2 {
  margin-bottom: 20px;
}

/* Input Fields */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Error Messages */
.error {
  color: red;
  font-size: 12px;
  display: none;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

/* Links */
p {
  margin-top: 10px;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
