@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility !important;
  scroll-behavior: smooth;
}

:root {
  --main-color: #ff8243;
  --shadow-1: #e2e2e2;
  --background: linear-gradient(145deg, #dcdcdc, #ffffff);
  --main-gradient: linear-gradient(135deg, var(--main-color), #ff4500);
}

body {
  background: var(--main-gradient);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
}

.full {
  height: 100vh;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
  text-align: left;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4500;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}
